<div id="new_performance_history_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <%= render partial: "form", locals: { performance_history: @performance_history } %>
</div> <!-- /.modal -->

<%= content_for :scripts %>