<%= link_to(admin_past_event_path(id: @document.parent_id), class: "btn-floating teal right") do %><i class="material-icons">arrow_back</i><% end %>
<h1><%= @document.parent&.title %> <%= @document.page_type.pluralize.humanize.titleize %>: Edit</h1>