<div>
  <h1>OAuth 2 Callback</h1>

  <h2>Access Token</h2>
  <hr />
  <code><%= current_user.qb_access_token %></code>
  <hr />

  <h2>Refresh Token</h2>
  <hr />
  <code><%= current_user.qb_access_secret %></code>
  <hr />

  <h2>RealmID</h2>
  <hr />
  <code><%= current_user.qb_company_id %></code>
  <hr />

  
</div>
