<div id="doc_part_<%= part.id %>" class="doc-part video-part">
<% if part.title.present? %>
<h3><%= part.title.html_safe %></h3>
<% end %>
<div class="video-part-wrap">
<%= part.player_html.html_safe %>
</div>
</div>