<div class="row">
  <% part.images.each do |image| %>
    <div class="col <%= part.grid_column_class %>">
      <div class="slideshow-item">
        <h4 title="<%= image.title %>"><%= image.title %></h4>
        <img class="materialboxed" src="<%= image.image.url(:thumb) %>" style="width:100%;max-width:100%;" />
      </div>
    </div>
  <% end %>
</div>