<div id="new_content_part_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
   <%= render partial: "new_form", locals: { document_part: @document_part } %>
</div> <!-- /.modal -->

<%= content_for :scripts %>