<div id="new_news_link_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <%= render partial: "form", locals: { news_link: @news_link } %>
</div> <!-- /.modal -->

<%= content_for :scripts %>