<% if @document.partial_page? %>
    <h1>Edit <%= @document.title %></h1>
<% else %>
    <%= link_to(admin_documents_path, class: "btn-floating teal right") do %><i class="material-icons">arrow_back</i><% end %>
    <h1><%= @document.page_type.pluralize.humanize.titleize %>: Edit</h1>
<% end %>