<div id="edit_image_modal" class="modal fade video-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style="width: 940px;max-width:95vw;">
    <%= render partial: "form", locals: { video: @video } %>
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<%= content_for :scripts %>