<div id="new_video_modal" class="modal video-modal" tabindex="-1" role="dialog" aria-hidden="true">
   <%= render partial: "form", locals: { video: @video } %>
</div> <!-- /.modal -->

<%= content_for :scripts %>